<html>
  <head>
    <title>MelodifAI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}" >
    <script>
      function generateMusic() {
        console.log("fetching")
        let select = document.getElementById('pieces');
        let input = select.options[select.selectedIndex].value;
        fetch("http://localhost:5000/selectionMade", {
          method: "POST",
          body: input
        }).then()
        
      }
      
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  </head>
  <body>
    <img src="{{ url_for('static',filename='images/ChopinPicture.jpg') }}" class="floatRight" />
    <div class ="center" id="logo">
      <h1>MelodifAI</h1>
    </div>
    <label>Choose a classical music piece on which you want to base the music generation:</label>
    <br>
    <select name="pieces" id="pieces" class="select-css">
      <option value="1">Chopin Nocturne op 23 n2</option>
      <option value="2">Chopin Nocturne op 23 n3</option>
      <option value="3">Chopin Nocturne op 23 n4</option>
      <option value="4">Chopin Nocturne op 23 n5</option>
    </select>
    <br><br>    
    <button onclick="generateMusic();">Generate music!</button>
    <br><br><br>
    <a href="/download">Dowload Generated Music!.</a>
  </body>
</html>
