<html>
  <head>
    <title>MelodifAI</title>
    <link rel="stylesheet" href="stylesheet.css">
    <script>
      function generateMusic() {
        console.log("fetching")
        fetch("http://localhost:5000/selectionMade", {
          method: "POST",
          body: pieces.value,
        })
        console.log("fetch complete")
      }
      function downloadMusic() {
        console.log("downloading")
        fetch("http://localhost:5000/download", {
          method: "FETCH"
        })
        
      }
    </script>
  </head>
  <body>
    <img src="ChopinPicture.jpg" class="floatRight" />
    <div class ="center" id="logo">
      <h1>MelodifAI</h1>
    </div>
    <label>Choose a classical music piece on which you want to base the music generation:</label>
    <br>
    <select name="pieces" id="pieces" class="select-css">
      <option value="1">Chopin Nocturne op 23 n2</option>
      <option value="2">Chopin Nocturne op 23 n3</option>
      <option value="3">Chopin Nocturne op 23 n4</option>
      <option value="4">Chopin Nocturne op 23 n5</option>
    </select>
    <br><br>    
    <button onclick="generateMusic();">Generate music!</button>
    <br><br><br>
    <button onclick="downloadMusic();">Download generated music!</button>
  </body>
</html>
