<html>
  <head>
    <title>MelodifAI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}" >
    <script>
      function generateMusic() {
        document.getElementById('download').style.display = 'none';
        document.getElementById('loading').style.display = 'flex';
        let select = document.getElementById('pieces');
        let input = select.options[select.selectedIndex].value;
        fetch("http://localhost:5000/selectionMade", {
          method: "POST",
          body: input
        }).then((r) => {
          document.getElementById('download').style.display = 'flex';
          document.getElementById('loading').style.display = 'none';
        })
      }
      
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  </head>
  <body>
    <div class ="center" id="logo">
      <h1>MelodifAI</h1>
    </div>
    <h2>Choose a composer who's style you want the music to mimic:</h2>
    <br>
    <div>
      <select name="pieces" id="pieces" class="select-css">
        <option value="1">Chopin</option>
        <option value="2">Albeniz</option>
        <option value="3">Bach</option>
        <option value="4">Balakir</option>
        <option value="5">Brahms</option>
        <option value="6">Schubert</option>
        <option value="7">Schumann</option>
        <option value="8">Mozart</option>
        <option value="9">Liszt</option>
        <option value="10">Debussy</option>
      </select>
      <br><br>    
      <button onclick="generateMusic();">Generate music!</button>
    </div>
    <br>
    <div id="download" style="display:none;">
      <h3><a href="/download">Done! Download Generated Music!</a></h3>
    </div>
    <div id="loading" style="display:none;">
      <div class="wavediv" style="display:flex;">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
    </div>
  </body>
</html>
